* text=auto
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.css text eol=lf
*.js text eol=lf
*.html text eol=lf
*.wav binary
*.mp3 binary
